
@font-face {
	font-family: 'GothamPro';
	src: url('fonts/GothamPro.woff') format('woff');
}

@font-face {
	font-family: 'GothamPro-Italic';
	src: url('fonts/GothamPro-Italic.woff') format('woff'); 
}


@font-face {
	font-family: 'GothamProBol';
	src: url('fonts/GothaProBol.woff') format('woff');
}

@font-face {
	font-family: 'GothamProBla';
	src: url('fonts/GothaProBla.woff') format('woff');
}

