
.wrapper	{
	max-width: 1170px;
	margin: 0 auto;
}

.heading {
	font-family: 'GothamProBol';
	font-size: 24px;
	color: $content-color;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 1px;
	margin: 38px 0 35px -11px;
    position: relative;
    	&:after {
    		@extend %ham;
    		content: '';
    		height: 2px;
    		width: 30px;
    		background: $content-color;
    		bottom: -6px;
    	}
}