@media screen and (max-width: 1134px) { 
	.columns {


		& .heading {
			margin-top: 132px;
		}
	}

}





@media screen and (max-width: 992px) { 
	.columns {

		& h2 {
			margin-top: 130px;
			margin-bottom: 44px;

		}

	}
}