@media screen and (max-width: 1134px) { 
	.columns {


		& .heading {
			margin-top: 132px;
		}
	}

}





@media screen and (max-width: 992px) { 
	.columns {

		& h2 {
			margin-top: 130px;
			margin-bottom: 44px;

		}

	}
}




@media screen and (max-width: 338px) { 
	.columns h2 {
		margin-bottom: 33px;
	}
	.columns .heading {
	    margin-top: 144px;
	}

	.columns-offset {
   	   margin-top: 0;
	}
}