@media screen and (max-width: 1134px) { 
	

}




@media screen and (max-width: 992px) { 
	.full-slider {
	text-transform: uppercase;
	color: #fff;
	text-align: center;
	
		& span {
			
		    font-size: 45px;
		    letter-spacing: 1px;
		    word-spacing: 1px;
		    margin-bottom: 25px;
		}

		p {
			width: 41%;
		}

		&__inner-box {
			width: 100%;
			margin-top: 202px;
			margin-bottom: 212px;
			
		}	
	}	

	.slick-prev {
	    left: 2%;
	    top: 345px
	}

	.slick-next {
	    right: 5%;
	    top: 345px
	}

	.slick-dots {
	    bottom: 23px;
	    
	}
}


@media screen and (max-width: 768px) { 
	.header__nav a {
		
		margin-left: 0;
	}

	.slick-prev {
	    left: 10%;
	    
	}

	.slick-next {
	    right: 10%;
	    
	}

	
}

@media screen and (max-width: 576px) { 
	.full-slider {
		p {
			width: 90%;
		}
		&__inner-box {
			margin-top: 90px;
    		margin-bottom: 110px;
			margin-left: 0;
		}	
	}

	.slick-next {
	    right: 37px;
	    
	}

	.full-slider p {
		width: 90%;
	}	

	
}



@media screen and (max-width: 338px) { 
	.full-slider__inner-box {
	    margin-top: 42px;
	    margin-bottom: 126px;
	}
	.full-slider {

		& p {
			width: 81%;
			font-size: 12px;
			line-height: 1.7;
		}	

		& span {
			font-size: 24px;
		}	
	}

	.slick-dots {
    	bottom: 10px;
	}
}