

.hide {	
  left: 0;
  transform: translateY( -100%);
  transition: 0.3s linear;
}

.close {
	position: absolute;
	top: 9%;
	right: 8%;
}



.mobile {
	transition: 1s linear;	
	@extend %ham;
	top: 0;
	width: 100%;
	height: 100vh;
	background: #fff;
	z-index: 1;



	& .header__logo {
		@extend %ham;
		margin: 0;
		top: 15%;

		& img {
			margin: 0;
		}

	}

	& .header__nav {
		@extend %ham;
		top: 35%;
		text-align: center;

		& a {
			display: block;
			margin: 15px 0;
			text-transform: uppercase; 
			color: $content-color;
				&:hover {
					color: #545ad8;
				}
		}
	}

	& .header__menu {
		position: absolute;
		top: 10%;
		right: 5%;
	}
}


//Menu burger button
.menu-slim {
  background: transparent;
  position: relative;
  height: 20px;
  width: 50px;
  cursor: pointer;		
  &:before,
  &:after {
    background: $content-color;
    backface-visibility: hidden;
    content: "";
    height: 2px;
    left: 0;
    transition: 0.75s;
    width: 30px;
  }

  &:before {
    box-shadow: $content-color 0 9px 0 0;
    position: absolute;
    top: 0;
  }

  &:after {
    position: absolute;
    top: calc(100% - 2px);
  }

  &:hover {

    &:before {
      box-shadow: transparent 0 0 0 0;
      top: 50%;
      transform: rotate(225deg);
    }

    &:after {
      top: 50%;
      transform: rotate(315deg);
    }
  }
}




.close-button {
  display: block;
  width: 40px;
  height: 40px;
  position: relative;
  overflow: hidden;
  > div {
    position: relative;
  }
  &-block {
    width: 40px;
    height: 20px;
    position: relative;
    overflow: hidden;
    &:before,
    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: calc(55% - 4px);
      display: block;
      width: 4px;
      height: 25px;
      transform-origin: bottom center;
      background: $content-color;
      transition: all ease-out 280ms;
    }
    &:last-of-type {
      transform: rotate(180deg);
    }
  }
  .in {
    .close-button-block {
      &:before {
        transition-delay: 280ms;
        transform: translateX(20px) translateY(-20px) rotate(45deg);
      }
      &:after {
        transition-delay: 280ms;
        transform: translateX(-22px) translateY(-22px) rotate(-45deg);
      }
    }
  }
  .out {
    position: absolute;
    top: 0;
    left: 0;
    .close-button-block {
      &:before {
        transform: translateX(-5px) translateY(5px) rotate(45deg);
      }
      &:after {
        transform: translateX(5px) translateY(5px) rotate(-45deg);
      }
    }
  }
  &:hover {
    .in {
      .close-button-block {
        &:before {
          transform: translateX(-5px) translateY(5px) rotate(45deg);
        }
        &:after {
          transform: translateX(5px) translateY(5px) rotate(-45deg);
        }
      }
    }
    .out {
      .close-button-block {
        &:before {
          transform: translateX(-20px) translateY(20px) rotate(45deg);
        }
        &:after {
          transform: translateX(20px) translateY(20px) rotate(-45deg);
        }
      }
    }
  }
}